@import "file:////root/workspace/new/docs/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:////root/workspace/new/docs/src/.vuepress/styles/palette.scss";
@import "file:////root/workspace/new/docs/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
