// place your custom styles here
.vp-sidebar {
  padding-left: 10px; // 或者设置一个较小的值，如 5px、10px 等。

  // 确保在不同屏幕尺寸下都能生效
  @media (max-width: [breakpoint]) {
    padding-left: 0;
  }
}

.vp-sidebar-header {
  font-size: 20px;
  /* 根据需要调整字体大小 */
}

.vp-sidebar-title {
  font-size: 16px;
  /* 根据需要调整字体大小 */
}

.vp-sidebar-link {
  font-size: 14px;
}

/* 如果只想更改特定的导航项，可以使用以下选择器 */
.vp-dropdown-subtitle {
  text-transform: none;
  /* 取消全大写 */
}

.theme-hope-content:not(.custom)>p,
.theme-hope-content:not(.custom)>ul p,
.theme-hope-content:not(.custom)>ol p {
  text-align: left;
  /* 设置段落文本左对齐 */
  overflow-wrap: break-word;
  /* 保持换行设置 */
  -webkit-hyphens: auto;
  /* 保持自动连字符设置 */
  hyphens: auto;
  /* 保持自动连字符设置 */
}