name: Deploy to doc(s).oneprocloud.com

on:
  push:
    branches:
      - main  # 这里的意思是当 main 分支发生 push 的时候，运行下面的 jobs，这里先改为 github-actions

jobs:
  deploy: # 任务名自取
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Copy main navigation files
        run: |
          cp src/.vuepress/navbar/en.main.ts src/.vuepress/navbar/en.ts
          cp src/.vuepress/navbar/zh.main.ts src/.vuepress/navbar/zh.ts

      - name: Build vuepress
        run: yarn && yarn docs:build

      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: src/.vuepress/dist/*
          remote_path: ${{ vars.DEPLOY_PATH }}
          remote_host: ${{ vars.DEPLOY_HOST }}
          remote_port: ${{ vars.DEPLOY_PORT }}
          remote_user: ${{ vars.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}

      - name: Refresh CDN
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.DEPLOY_HOST }}
          username: ${{ vars.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ vars.DEPLOY_PORT }}
          script: |
            bash /root/tools/refresh_cdn/refresh_docs.sh
